.bgImage {
  height: 105%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.block-7 {
  background-color: white;
  padding: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.row {
    justify-content: center;
    align-items: center
}

.column {
    text-align: center ;
}
